doctype 5
html(ng-app="myApp")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/halflings.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container
      block content
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/angular.js')
    script(src='/js/script.js')